# GitHub repository variables
# Settings -> Secrets and variables -> Actions -> Variables

UPDATE_BASE_URL=https://updates.your-domain.tld
CUSTOM_DOMAIN=updates.your-domain.tld
DOCKERHUB_NAMESPACE=your-dockerhub-namespace
DOCKERHUB_IMAGE_NAME=nagient

